.wrapper {
  width: 100%;
  text-align: center;
  margin-top: 7rem;
}

.container {
  width: 80rem;
  display: inline-flex;
  padding: 3.2rem 4rem 4rem 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 1.6rem;
  background: var(--bg-lightest);

  .title {
    color: var(--white);
    letter-spacing: -0.048px;
  }
}

.record {
  width: 100%;
  height: 100%;

  .button-actions {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
  }
}

.attach-file {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 8rem;

  .item {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    p {
      color: var(--white);
      letter-spacing: -0.032px;
    }
  }
}
