.wrapper {
  width: 100%;
}

.container {
  width: 80rem;
  display: inline-flex;
  padding: 3.2rem 4rem 4rem 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 1.6rem;
  background: var(--bg-lightest);

  .title {
    color: var(--white);
    letter-spacing: -0.048px;
  }
}
