.authorization-user-container,
.user-role-container {
    & .container-table-data {
        width: 1541px;
        display: none;
        margin-top: 24px;

        & p {
            white-space: nowrap;
        }

        &.active {
            display: block;
        }

        & .table__col__description {
            max-width: 776px;
            white-space: wrap;
        }

        & .action {
            color: var(--orange-4-default);
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: -0.024px;
            text-decoration-line: underline;
            user-select: none;
        }
    }
}

.authorization-user-container__filter {
    width: 1541px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>.search-input {
        width: max-content;

        & input {
            width: 433px;
        }
    }

    &>div:last-child {
        width: 433px;
    }
}