.wrapper {
  width: 100%;
}

.renewal {
  width: 90.8rem;
  height: 62.3rem;
  padding: 4rem 3.2rem;
}

.cancel {
  width: 72rem;
  padding: 3.2rem 4rem 3.7rem 4rem;

  .action {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
}
