.wrapper {
  width: 153.3rem;
}

.action {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;

  .filter {
    display: flex;
    gap: 6.4rem;
  }

  .search {
    width: 50.1rem;
  }
}

.contract_item {
  .detail {
    color: var(--orange-4-default);
    font-size: 1.2rem;
    letter-spacing: -0.024px;
    text-decoration-line: underline;
  }

  .vadility {
    display: flex;
    align-items: center;
    gap: .4rem;
  }
}

.cancel {
  width: 72rem;
  padding: 3.2rem 4rem 3.7rem 4rem;
}
