.wrapper {
  .col_content {
    display: flex;
    align-items: flex-start;
  }

  .col_left {
    width: max-content;
  }

  .col_right {
    width: 100%;
  }

  .horizontal {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    margin-top: 1.6rem;

    .value {
      margin-top: 0 !important;
    }
  }
}

.editable {
  .title {
    height: 4.8rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .title + .title {
    margin-top: 4.1rem;
  }
}

.upload {
  .col_left .title {
    height: 4rem;
    display: flex;
    align-items: center;
  }

  .col_right .value {
    margin-top: 1.6rem;
  }
}

.active {
  margin-top: 0.4rem !important;
  font-weight: 400 !important;
}

.col_left {
  .title {
    width: max-content;
    max-width: 22.5rem;
    margin-right: 2.8rem;
    color: var(--white);
    font-weight: 700;
    letter-spacing: -0.032px;
  }

  .title + .title {
    margin-top: 1.6rem;
  }

  .require {
    width: 0.6rem;
    height: 0.6rem;
  }
}

.title-primary {
  display: flex;
  color: var(--orange-3);
  letter-spacing: -0.032px;
  gap: 0.8rem;
}

.col_right {
  .value {
    min-height: 2.4rem;
    display: flex;
    align-items: center;
    color: var(--text-stroke-text-and-stroke);
    font-weight: 400;
    letter-spacing: -0.032px;

    img {
      margin-right: 0.4rem;
    }

    input[type="date"] {
      padding: 1.1rem 1.6rem 1.3rem 1.6rem;
    }
  }

  .password {
    outline: none;
    border: none;
    background-color: var(--bg-color);
  }

  .value + .value {
    margin-top: 1.6rem;
  }
}

.radio-group {
  min-height: 4.8rem;
  display: flex;

  div + div {
    margin-left: 4.8rem;
  }
}

.author {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .col_content {
    display: flex;
  }

  .title {
    max-width: 22.1rem;
  }
}

//max width
.mw-medium {
  max-width: 27.9rem;
  min-height: 4.8rem !important;
}

.custom {
  width: 100%;
}
