.wrapper {
  width: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.1s linear;

  .checkbox-checked {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
  }

  label {
    user-select: none;
  }

  p {
    width: max-content;
  }
}

.active {
  width: max-content;
  opacity: 1;
}
