.wrapper {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .checkbox-checked {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
  }

  label {
    user-select: none;
    color: var(--white);
  }

  p {
    width: max-content;
  }
}
