.wrapper {
  width: 100%;
  padding-right: 8rem;
}

.content {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 8.7rem;

  &:has(.line) {
    gap: 3.2rem;
  }

  .line {
    width: 100%;
    height: 0.1rem;
    opacity: 0.5;
    background: #727288;
  }
}

.col-top,
.col-bottom {
  display: flex;
  justify-content: space-between;

  .list-item {
    display: flex;
    justify-content: space-between;
  }

  .col {
    display: flex;
    align-items: flex-start;
  }

  .title {
    color: var(--orange-3);
    font-size: 1.8rem;
    letter-spacing: -0.036px;
    margin-bottom: 3.6rem;
  }
}

.col-bottom {
  &:has(.title) {
    flex-direction: column;
  }
}
