.container {
  text-align: left;
  padding: 0 1.5rem 0 var(--pd-l-container-left);

  .title h2 {
    color: var(--white);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: -0.072px;
  }
}

.paging {
  display: flex;
  align-items: center;

  .item {
    display: flex;
    gap: 0.4rem;
  }

  .page {
    color: var(--text-stroke-text-and-stroke);
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 786px) and (max-width: 1440px) {
  .container {
    padding-right: 0;
    width: calc(100% - 9rem);
  }
}
