.wrapper {
  .content {
    width: 165rem;
    margin-top: 4rem;
  }
}

.col-top,
.col-bottom {
  display: flex;
  justify-content: space-between;

  .col {
    display: flex;
    align-items: flex-start;
  }
}

.col-bottom {
  margin-top: 16.4rem;
}
