.entrusment-contract {
  position: relative;

  .action {
    color: var(--orange-4-default);
    font-size: 1.2rem;
    letter-spacing: -0.024px;
    text-decoration-line: underline;
  }

  & .status {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    &.new::after {
      background-color: var(--emerald);
    }

    &.cancelled::after {
      background-color: var(--red);
    }

    &.still::after {
      background-color: var(--blue);
    }

    &.expiration::after {
      background-color: var(--gray);
    }
  }
}
