.search {
  margin: 24px 0;
  width: 41.8rem;
}

.entrusment-contract {
  width: 1541px !important;
  position: relative;

  & tbody > tr > td > p.action {
    width: max-content;
    color: var(--orange-4-default);
    padding: 5px 16px;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  & .status {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    &.new::after {
      background-color: var(--emerald);
    }

    &.cancelled::after {
      background-color: var(--red);
    }

    &.still::after {
      background-color: var(--blue);
    }

    &.expiration::after {
      background-color: var(--gray);
    }
  }
}
