:root {
  --filter-w-h: 5.2rem;
}

.container {
  max-width: 154.1rem;
  margin-top: 3.2em;
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;

  .container__right {
    width: 100%;
    max-width: 50.1rem;
  }

  .in-active {
    opacity: 0;
    top: calc(var(--filter-w-h) + 5rem);
    pointer-events: none;
  }

  ::-webkit-scrollbar {
    width: 0.7rem;
  }

  ::-webkit-scrollbar-track {
    background: #3e3e5b;
    border-radius: 1.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #727288;
    border-radius: 1.6rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.container__left {
  display: flex;
  width: max-content;

  .filter {
    position: relative;
    transition: all 0.2s linear;
  }
}

.filter__icon {
  width: var(--filter-w-h);
  height: var(--filter-w-h);
  font-size: 2.6rem;
  border-radius: 50%;
  color: var(--orange-4-default);
  background-color: var(--white-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.filter__dropdown {
  width: 25rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--text-stroke-fill);
  position: absolute;
  opacity: 1;
  top: var(--filter-w-h);
  transition: all 0.2s ease-in-out;
  z-index: 1;

  box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.22);

  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: var(--text-stroke-fill);
    border-width: 0.8rem;
    margin-left: -10.8rem;
  }

  .title {
    color: var(--orange-3);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.21px;
    padding: 0.8rem;
    border-bottom: 0.1rem solid rgb(114, 114, 136);
  }

  .dropdown-list {
    height: 34.5rem;
    overflow-y: auto;
    scroll-behavior: auto;
  }
}

.item {
  padding: 2rem;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.21px;

  .item__title {
    margin-bottom: 0.8rem;
  }
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .item__content {
    background-color: var(--white-transparent);
    width: max-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .active {
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.2s linear;
  }
}

//----
.top {
  flex-direction: column-reverse;
}

.right {
  flex-direction: row;
}

.bottom {
  flex-direction: column;
}

.left {
  flex-direction: row-reverse;
}

//----
.default {
  gap: 6.4rem;
}

.auto {
  justify-content: space-between;
}

//----
.max-content {
  width: max-content;
}

.max-width-100pc {
  width: 100%;
}
