.wrapper {
    padding: 24px 75px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        padding: 1.2rem
    }
}