.wrapper {
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &:focus {
    border: 0.1rem solid #347aff;
  }

  & + & {
    margin-top: 2rem;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  label {
    color: #fff;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.032px;
  }
}

.form-input {
  width: 100%;
  position: relative;
  text-align: left;

  .text {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: -0.032px;
    width: 100%;
    height: 4.8rem;
    background-color: var(---bg-lighter);
    border-radius: 0.8rem;
    padding: 1.1rem 2.4rem 1.3rem 1.6rem;
    align-items: center;
  }

  .border {
    border: 0.1rem solid var(--text-stroke-text-and-stroke-2);

    &:focus {
      border: 0.1rem solid var(--blue);
    }
  }

  textarea {
    padding: 1.1rem 1.6rem 1.3rem 1.6rem;
    resize: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../assets/images/u_calendar-alt-orange.png") no-repeat;
    width: 2rem;
    height: 2rem;
    border-width: thin;
    cursor: pointer;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left {
    left: 5%;
  }

  .right {
    right: 5%;
  }
}

.error {
  input {
    border: 0.1rem solid var(--red) !important;
  }
}

.recover {
  width: 100%;
}

.primary {
  height: 4.8rem;
  padding: 1.1rem 2.4rem 1.3rem 1.6rem;
}

// size
.none {
  width: 0;
  height: 0;
}

.extra-small {
  width: 16.8rem;
}

.small {
  width: 27.6rem;
}

.small-pl {
  width: 37.4rem;
}

.medium {
  width: 47.1rem;
}

.large {
  width: 57.3rem;
}

.extra-large {
  width: 60rem;
}

.custom {
  width: 100%;
}

//status

.disable input {
  background-color: var(--disabled-state);
  pointer-events: none;
}
