.wrapper {
  max-width: var(--max-width);

  .action {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .playlist {
    margin-top: 2.4rem;
  }
}

.playlist_item {
  .edit {
    color: var(--orange-4-default);
    font-size: 1.2rem;
    letter-spacing: -0.024px;
    text-decoration-line: underline;
  }
}
