.wrapper {
  width: 154.1rem;
}

.playlist-schedule {
  margin-top: 2.4rem;

  .action {
    width: max-content;
    color: var(--orange-4-default);
    padding: 5px 16px;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
