.wrapper {
  max-width: var(--max-width);

  .playlist-schedule {
    margin-top: 2.4rem;
  }

  .action {
    width: max-content;
    color: var(--orange-4-default);
    padding: 0.5rem 1.6rem;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
