.wrapper {
    width: 153.3rem;
}

.action {
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;

    .filter {
        display: flex;
        gap: 6.4rem;
    }

    .search {
        width: 50.1rem;
    }
}