.wrapper {
  width: 168.3rem;
}

.action {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;

  .filter {
    display: flex;
    gap: 6.4rem;
  }

  .search {
    width: 50.1rem;
  }
}

.contract {
  margin-top: 2.4rem;

  .subtitle,
  .approved {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .subtitle {
    opacity: 0.5;
  }

  .listening {
    color: var(--orange-4-default);
    font-size: 1.2rem;
    letter-spacing: -0.024px;
    text-decoration-line: underline;
  }
}

.approval-actions {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
  width: 100%;
  margin: 4rem 0 5.6rem 0;
}

.inactive {
  display: none;
}
