.wrapper {
  max-width: 154.1rem;

  .actions {
    display: flex;
    align-items: flex-end;
    gap: 6.4rem;
  }
}

.actions__filter {
  display: flex;
  align-items: flex-end;
  flex: 1;
  gap: 6.4rem;

  .check-all {
    height: 4rem;
  }
}

.record {
  margin-top: 2.4rem;

  .edit {
    color: var(--orange-4-default);
    font-size: 1.2rem;
    letter-spacing: -0.024px;
    text-decoration-line: underline;
  }

  .status {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .date {
    opacity: 0.5;
  }
}

.action-bottom {
  margin-top: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.show {
  color: var(--text-stroke-text-and-stroke);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.21px;
  gap: 0.8rem;

  input {
    color: var(--text-stroke-text-and-stroke);
    font-family: Source Sans Pro;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 130%;

    width: 5rem;
    padding: 0.6rem 1.6rem 0.5rem 1.6rem;
    background: rgba(47, 47, 65, 0.7);
    border: 0.1rem solid var(--orange-4-default);
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pagination {
  width: 20.3rem;
  height: 2.6rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

  .page-num {
    margin: 0 1.6rem;
    gap: 2rem;
  }
}

.vadility {
  width: 16.5rem;
}

.cancel {
  display: flex;
  width: 719px;
  padding: 32px 40px 40px 40px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cancel-action {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.button-actions {
  padding: 2rem;

  & > button {
    margin: 0 auto;
  }
}