.wrapper {
  width: 100%;
  max-width: var(--max-w-table);
  background: rgba(47, 47, 65, 0.7);
  border-radius: 1.6rem;
  overflow-x: scroll;
  margin-top: 2.4rem;

  &::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
  }

  &::-webkit-scrollbar-track {
    background: #3e3e5b;
    border-radius: 1.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #727288;
    border-radius: 1.6rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.container {
  min-width: 115.4rem;
  min-height: 60rem;

  .content {
    width: 100%;
    height: 100%;
    padding: 1.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

table {
  width: 100%;
  font-size: 1.4rem;
  border-collapse: collapse;

  &:has(.default-border) {
    tr + tr {
      border-top: 0.1rem solid rgba(114, 114, 136, 1);
    }
  }

  .title,
  td {
    height: 4.8rem;
  }

  th {
    color: var(--orange-3);
    letter-spacing: 0.028px;
    padding: 0.8rem 3rem 0.8rem 0;

    &:first-child {
      padding-left: 0.8rem;
    }
  }

  .title {
    font-weight: 400;
    line-height: 2rem;
  }
}

.table__option {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  width: calc(1541px - 48px);
  border: none !important;
  margin-bottom: 16px;
  padding: 0 16px;

  & p {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.21px;
  }

  & .table__option__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      & > div {
        width: max-content;

        > div > input {
          width: 48.374px !important;
          height: 32px !important;
          padding: 6px 16.187px 5px 16.187px !important;
          border-color: var(--orange-4-default);
        }
      }
    }
  }

  &:hover {
    background-color: transparent;
  }
}

tbody {
  tr {
    cursor: pointer;

    &:hover {
      background-color: var(--white-transparent);
    }

    td:first-child {
      padding-left: 0.8rem;
    }
  }

  td {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.21px;
    padding: 0.8rem 0.8rem 0.8rem 0;

    &.action {
      width: max-content;
      color: var(--orange-4-default);
      padding: 5px 16px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
  }

  & > li {
    padding: 0 9px;
    user-select: none;

    & > a {
      padding: 4px 8px;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;

      & > svg {
        font-size: 1.5rem;
      }

      &:hover {
        background-color: #ff7506;
      }
    }

    &.active > a {
      background-color: #ff7506;
    }
  }
}

.action-bottom {
  margin-top: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.show {
  color: var(--text-stroke-text-and-stroke);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.21px;
  gap: 0.8rem;

  input {
    color: var(--text-stroke-text-and-stroke);
    font-family: Source Sans Pro;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 130%;

    width: 5rem;
    padding: 0.6rem 1.6rem 0.5rem 1.6rem;
    background: rgba(47, 47, 65, 0.7);
    border: 0.1rem solid var(--orange-4-default);
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pagination {
  height: 2.6rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

  .page-num {
    gap: 2rem;
  }
}

// @media only screen and (max-width: 1145px) {
//   .wrapper {
//     overflow-x: scroll;
//   }

//   .wrapper::-webkit-scrollbar {
//     width: 0.7rem;
//     height: 0.7rem;
//   }

//   .wrapper::-webkit-scrollbar-track {
//     background: #3e3e5b;
//     border-radius: 1.6rem;
//   }

//   .wrapper::-webkit-scrollbar-thumb {
//     background: #727288;
//     border-radius: 1.6rem;
//   }

//   .wrapper::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }
// }
