.wrapper {
  width: 100%;
  height: 72.7rem;
  border-radius: 1.6rem;
  background: rgba(47, 47, 65, 0.7);
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    padding: 1.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

table {
  width: 100%;
  font-size: 1.4rem;
  border-collapse: collapse;

  &:has(.default-border) {
    tr + tr {
      border-top: 0.1rem solid rgba(114, 114, 136, 1);
    }
  }

  .title,
  td {
    height: 4.8rem;
  }

  th {
    color: var(--orange-3);
    letter-spacing: 0.028px;
    padding: 0.8rem 3rem 0.8rem 0;

    &:first-child {
      padding-left: 0.8rem;
    }
  }

  .title {
    font-weight: 400;
    line-height: 2rem;
  }
}

tbody {
  tr {
    cursor: pointer;

    &:hover {
      background-color: var(--white-transparent);
    }

    td:first-child {
      padding-left: 0.8rem;
    }
  }

  td {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.21px;
    padding: 0.8rem 0.8rem 0.8rem 0;
  }
}

.action-bottom {
  margin-top: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.show {
  color: var(--text-stroke-text-and-stroke);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.21px;
  gap: 0.8rem;

  input {
    color: var(--text-stroke-text-and-stroke);
    font-family: Source Sans Pro;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 130%;

    width: 5rem;
    padding: 0.6rem 1.6rem 0.5rem 1.6rem;
    background: rgba(47, 47, 65, 0.7);
    border: 0.1rem solid var(--orange-4-default);
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pagination {
  width: 20.3rem;
  height: 2.6rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

  .page-num {
    margin: 0 1.6rem;
    gap: 2rem;
  }
}

.active {
  width: 2.6rem;
  height: 2.6rem;
  background-color: rgba(255, 117, 6, 0.5);
  border-radius: 50%;
}

.scroll {
  display: block;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
    border-radius: 1.6rem;
    padding: 1rem 0;
    background-color: var(--bg-lightest);
  }

  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 80%;
    background-color: var(--bg-lightest);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1.6rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: rgba(114, 114, 136, 0.5);
  }
}
