.switch-tabs {
  width: max-content;
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  border-radius: 2.4rem;
  border: 0.1rem solid var(--orange-4-default);
}

.tab {
  padding: 0.8rem 2.4rem;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  gap: 1rem;

  p {
    color: var(--white);
    letter-spacing: -0.032px;
    opacity: 0.7;
  }
}

.active {
  border-radius: 2.4rem;
  background-color: var(--orange-4-default);
}