.unit-management-container {
    & table {
        width: calc(1541px - 48px);

        & p {
            white-space: nowrap;
        }

        & .action {
            color: var(--orange-4-default);
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: -0.024px;
            text-decoration-line: underline;
            user-select: none;
        }
    }

    & .action__remove {
        color: var(--color-red);
    }
}

.table__row__checkbox {
    padding: 0px 0px 8px 8px;

    &>div {
        min-width: auto;
    }
}

.search {
    margin: 24px 0;

    & input {
        width: 665px !important;
    }
}