.wrapper {
  width: max-content;
  border-radius: 0.6rem;
  border: 0.1rem solid var(--orange-3);
  color: var(--orange-3, #ffac69);
  cursor: pointer;

  &:hover {
    background-color: var(--white-transparent);
  }

  .content {
    display: inline-flex;
    padding: 0.8rem 1.6rem;
    align-items: center;
    gap: 0.4rem;
  }

  .text {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.028px;
  }
}
