.unit-detail-container {
  & .remove-icon {
    color: var(--color-red);
  }

  & table {
    width: 1686px;
  }
}

.table__row__checkbox {
  & > div {
    min-width: max-content;
    padding: 0 0 8px 8px;
  }
}

.table__row-item {
  height: 47px;
  cursor: pointer;

  & > td > p {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: -5%;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    &.active::after {
      background-color: var(--color-green);
    }

    &.deactive::after {
      background-color: var(--color-red);
    }
  }
}

.form__body {
  display: flex;
  flex-wrap: wrap;
  gap: 300px;
  margin-top: 24px;

  & > div > div > div:first-child > div {
    height: 48px;
    display: flex;
    align-items: center;
  }

  & input[type="text"],
  & input[type="password"] {
    width: 405px;
  }
}

.form-group-checkbox {
  width: max-content;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.form__body__combobox-role {
  & > div > div:first-child {
    width: 256px;
    height: 48px;
    background-color: var(--bg-input);
    outline: none;
    color: var(--white);
    border: 1px solid rgb(114, 114, 136);

    & input {
      text-transform: capitalize;
    }
  }
}

.form__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 88px 0;
}

@media only screen and (max-width: 1024px) {
  .form__body {
    gap: 10rem;
  }
}

@media only screen and (width: 1440px) {
  .form__body {
    gap: 20rem;
  }
}
