@import "@fontsource/montserrat"; // Defaults to weight 400
@import "@fontsource/montserrat/400.css"; // Specify weight
@import "@fontsource/montserrat/400-italic.css"; // Specify weight and style

@import "@fontsource/source-sans-pro"; // Defaults to weight 400
@import "@fontsource/source-sans-pro/400.css"; // Specify weight
@import "@fontsource/source-sans-pro/400-italic.css"; // Specify weight and style

:root {
  --white: #fff;
  --white2: #fff9f4;
  --red: #ff4747;
  --blue: #347aff;
  --emerald: #2ecc71;
  --gray: #878890;

  ---bg-dark: #020220;
  --bg-color: #1e1e2e;
  --bg-color-2: #30303f;
  ---bg-lighter: #2b2b3f;
  --bg-lighter-2: #2b2b3f;
  --bg-lightest: #3e3e5b;
  --middle-bg: rgba(47, 47, 65, 0.7);
  --bg-on-lighter: #33334D;

  --white-transparent: rgba(255, 255, 255, 0.15);

  --orange-3: #ffac69;
  --orange-4-default: #ff7506;
  --orange-5: #b65100;
  --gray-gray_light: #aeaeae;

  --text-stroke-3: #c8c8db;
  --text-stroke-fill: #2f2f41;
  --text-stroke-text-and-stroke: #f5f5ff;
  --text-stroke-text-and-stroke-2: #727288;

  --disabled-state: #3e3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 108rem;
  color: var(--text-color);
  font: normal 600 1.6rem/1.8em Montserrat;
  line-height: 2.4rem;
  text-rendering: optimizeSpeed;
  background-color: var(--bg-color);
  position: relative;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.--center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.--m-top-2rem {
  margin-top: 2rem;
}

.--m-top-1rem {
  margin-top: 1rem;
}

.--cursor-pointer {
  cursor: pointer;
}

.w-585 {
  width: 58.5rem;
}

.--capitalize input {
  text-transform: capitalize;
}
